doctype xml

feed(xmlns='http://www.w3.org/2005/Atom', xml:base='#{url}atom/feeds')
	id urn:uuid:#{_id}
	title #{title}
	updated #{updated.toISOString()}
	link(rel='self', href='/atom/feeds')
	link(href='#{url}')
	for post in posts
		entry(xmlns='http://www.w3.org/2005/Atom')
			id #{post.permaLink}
			title #{post.title}
			link(href='#{url}#{post.permaLink}')
			updated #{post.date.toISOString()}
			author #{post.author}