extends layout

block content
	for post in posts
		article(class='post')
			header
				time= post.date.toDateString()
				h1 
					a(href='#{host}#{post.permaLink}') #{post.title}
			section!{post.body}