doctype xml
entry(xmlns='http://www.w3.org/2005/Atom')
	title #{post.title}
	id #{url}api/atom/entries/#{post._id}
	updated #{post.date.toISOString()}
	author
		name #{post.author}
	content #{post.body}
	link(href='#{url}api/atom/entries/#{post._id}')		
	link(rel='edit', href='#{url}api/atom/entries/#{post._id}')
	